<div class="col-md-4 col-md-offset-4">
  
  <h2 class="text-center">資財系二手書</h2>

  <hr>
  <div class="form-inputs">
  	<%= button_to("買書", books_path, :class => "form-control", :method => 'get') %><br>
  	<%= button_to("賣書", new_book_path, :class => "form-control", :method => 'get') %>
  </div>
</div>