<div class="row">

  <%= render "common/tag_bar" %>

  <div class="col-md-4 text-center">
    <br>
    <%= image_tag(@book.picture_url, :width => 400) if @book.picture.present? %>
  </div>

  <div class="col-md-5">
    <%= render "common/book_content" %>
  </div>
</div>

<hr>
