<footer>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-collapse collapse" id="footer-body">
                <ul class="nav navbar-nav">
                    <li>
                    	<a href="https://github.com/chichunchen/IFM">
                    		開放原始碼
                    	</a>
                    </li>
                    <li>
                    	<a href="https://github.com/chichunchen">關於開發者</a>
                    </li>
                    <li>
                    	<%= contact_dev %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>